02_n8n配置飞书云文档和消息服务工作流/n8n配置飞书云文档和消息服务工作流.json
{
  "name": "n8n配置飞书云文档和消息服务工作流",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        1024
      ],
      "id": "da67c87d-982e-4b97-b51e-8cb0b8bdad8c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal/",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\":\"application/json; charset=utf-8\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"app_id\": \"cli_a8759c6a213d500e\",\n    \"app_secret\": \"w7BjX2yj17rSfiR8oPueef1ktTouGrEH\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -512,
        1024
      ],
      "id": "32b344d4-f0df-4d49-a73b-aa919613db98",
      "name": "获取飞书Token",
      "notesInFlow": true,
      "notes": "获取飞书token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"text\",\n  \"content\": \"{\\\"text\\\":\\\"<at user_id=\\\\\\\"all\\\\\\\">南哥</at> 大家好，这里是南哥AGI研习社。[南哥AGI研习社](https://nangeai.top)\\\"}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        736
      ],
      "id": "3c40cbec-b274-4f5a-b4f9-c0e34b90d724",
      "name": "向群组发送文本消息"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n    \"msg_type\": \"post\",\n    \"content\":\"{\\\"zh_cn\\\":{\\\"title\\\":\\\"南哥AGI研习社\\\",\\\"content\\\":[[{\\\"tag\\\":\\\"text\\\",\\\"text\\\":\\\"大模型代理平台 :\\\"},{\\\"tag\\\":\\\"a\\\",\\\"href\\\":\\\"https://nangeai.top\\\",\\\"text\\\":\\\"nangeai.top\\\"},{\\\"tag\\\":\\\"at\\\",\\\"user_id\\\":\\\"\\\",\\\"user_name\\\":\\\"所有人\\\"}],[{\\\"tag\\\":\\\"img\\\",\\\"image_key\\\":\\\"{{ $json.data.image_key }}\\\"}]]}}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        944
      ],
      "id": "54323fd7-9fd5-41d1-a2ec-8b1765f98773",
      "name": "向群组发送富文本"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"image\",\n  \"content\": \"{\\\"image_key\\\": \\\"{{ $json.data.image_key }}\\\"}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        752
      ],
      "id": "feb231f8-333f-4980-b9d5-f9f1b238f20d",
      "name": "向群组发送图片"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_type",
              "value": "message"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        944
      ],
      "id": "4e17de7f-2be8-494c-8450-5e4a3e92127d",
      "name": "上传图片到飞书"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"interactive\",\n  \"content\": \"{\\\"type\\\":\\\"template\\\",\\\"data\\\":{\\\"template_id\\\":\\\"AAqhwSFEnW3pt\\\",\\\"template_version_name\\\":\\\"1.1.5\\\",\\\"template_variable\\\":{\\\"picture\\\":{\\\"img_key\\\":\\\"{{ $json.data.image_key }}\\\"},\\\"link\\\":{\\\"url\\\":\\\"https://nangeai.top\\\"}}}}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        1120
      ],
      "id": "bde72e5d-5c54-4e70-894f-d1f3726b57f1",
      "name": "向群组发送消息卡片"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"share_chat\",\n  \"content\": \"{\\\"chat_id\\\":\\\"oc_9619619c722d54d1b6589f7405855d59\\\"}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        944
      ],
      "id": "a334c2ca-2994-47c0-8af8-f1e5546e22a1",
      "name": "向群组发送群名片"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"audio\",\n  \"content\": \"{\\\"file_key\\\":\\\"{{ $json.data.file_key }}\\\"}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        1360
      ],
      "id": "5edf1755-73db-40ac-b75a-7397d8cf3a65",
      "name": "向群组发送语音"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_type",
              "value": "opus"
            },
            {
              "name": "file_name",
              "value": "audio.opus"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        1360
      ],
      "id": "749387c4-eb90-4bc7-9199-1784da7846a0",
      "name": "上传音频到飞书"
    },
    {
      "parameters": {
        "fileSelector": "./n8ndata/pictures/picture.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        176,
        1152
      ],
      "id": "0bce0a61-5527-455e-9d5d-e172b8899064",
      "name": "读取本地图片"
    },
    {
      "parameters": {
        "fileSelector": "./n8ndata/audios/audio.opus",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        176,
        1360
      ],
      "id": "593b8779-5126-4ad3-ad99-8b68b99e799a",
      "name": "读取本地音频"
    },
    {
      "parameters": {
        "fileSelector": "./n8ndata/videos/video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        176,
        1568
      ],
      "id": "d0a6fefc-7a61-4a42-9c75-7803e78b9d7e",
      "name": "读取本地视频"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_type",
              "value": "mp4"
            },
            {
              "name": "file_name",
              "value": "video.mp4"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        1568
      ],
      "id": "ac1a215e-97a8-4d0c-96ef-899694663c17",
      "name": "上传视频到飞书"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"media\",\n  \"content\": \"{\\\"file_key\\\":\\\"{{ $('上传视频到飞书').item.json.data.file_key }}\\\",\\\"image_key\\\":\\\"{{ $json.data.image_key }}\\\"}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        1568
      ],
      "id": "25b0ebb9-29b1-4a80-8b09-623cacb7d18d",
      "name": "向群组发送视频"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_type",
              "value": "message"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        1568
      ],
      "id": "cf86d3de-10c2-401c-9a78-ee38b3df56f3",
      "name": "上传视频封面图片到飞书"
    },
    {
      "parameters": {
        "fileSelector": "./n8ndata/pictures/picture.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        624,
        1568
      ],
      "id": "4f87c1f2-af6d-4612-8698-25629ff34252",
      "name": "读取本地视频封面图片"
    },
    {
      "parameters": {
        "fileSelector": "./n8ndata/files/file.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        176,
        1792
      ],
      "id": "17498d5c-e77d-4924-8f74-3c4ede9cf293",
      "name": "读取本地文件"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_type",
              "value": "pdf"
            },
            {
              "name": "file_name",
              "value": "file.pdf"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        1792
      ],
      "id": "85933940-7147-4bea-80b8-d6a1ee92be77",
      "name": "上传文件到飞书"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"file\",\n  \"content\": \"{\\\"file_key\\\":\\\"{{ $json.data.file_key }}\\\"}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        1792
      ],
      "id": "6e3a3516-b8d7-441e-819b-8b84cbd77933",
      "name": "向群组发送文件"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/bitable/v1/apps",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"HTTP节点创建的多维表格\",\n  \"folder_token\": \"{{ $json.data.token }}\" \n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        80
      ],
      "id": "ca153e09-46e5-4a8c-8a67-3debce3d69d6",
      "name": "创建多维表格"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/drive/v1/files/create_folder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"name\": \"南哥AGI研习社\",\n  \"folder_token\": \"AxRdfiYhZlvfAFdegowcc34Jnrd\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        80
      ],
      "id": "71e154fa-5f4d-4c23-b87f-4463eb2e7519",
      "name": "创建文件夹"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('创建多维表格').item.json.data.app.app_token }}/tables/{{ $('创建多维表格').item.json.data.app.default_table_id }}/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"fields\": {\n    \"文本\": \"南哥AGI研习社\",\n    \"单选\": \"南哥\",\n    \"日期\": 1674206443000,\n    \"超链接\": {\n      \"text\": \"nangeai.top\",\n      \"link\": \"https://nangeai.top\"\n    },\n    \"地理位置\": \"116.397755,39.903179\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        80
      ],
      "id": "6e89a440-8bec-465d-ade7-3b8a93e0a9ec",
      "name": "新增记录到表格"
    },
    {
      "parameters": {
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $json.data.app.app_token }}/tables/{{ $json.data.app.default_table_id }}/fields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        80
      ],
      "id": "8487a668-aa4b-4ff7-b291-53590bd88a6a",
      "name": "列出数据表字段"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('创建多维表格').item.json.data.app.app_token }}/tables/{{ $('创建多维表格').item.json.data.app.default_table_id }}/fields/{{ $json.data.items[3].field_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"field_name\": \"超链接\",\n  \"type\": 15,\n  \"ui_type\": \"Url\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        80
      ],
      "id": "1efe57ac-ccbd-4a4e-9b97-bd0b48fa4be1",
      "name": "更新字段"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('创建多维表格').item.json.data.app.app_token }}/tables/{{ $('创建多维表格').item.json.data.app.default_table_id }}/fields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"field_name\": \"地理位置\",\n  \"type\": 22\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        80
      ],
      "id": "d8106e92-27ff-4db9-a4f8-5983adf167ba",
      "name": "新增字段"
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:create",
        "name": "飞书节点创建的多维表格",
        "folder_toke": "={{ $json.data.token }}",
        "time_zone": "Asia/Shanghai"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        304,
        384
      ],
      "id": "b4c304d1-ed71-4edd-8e2a-14485933824d",
      "name": "创建多维表格1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "HSAKTl9I7CHTHe6z",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:field:list",
        "app_toke": "={{ $json.data.app.app_token }}",
        "table_id": "={{ $json.data.app.default_table_id }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        512,
        384
      ],
      "id": "576974ac-ae2e-4bc8-a073-46ad902894e6",
      "name": "列出数据表字段1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "HSAKTl9I7CHTHe6z",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:field:update",
        "app_toke": "={{ $('创建多维表格1').item.json.data.app.app_token }}",
        "table_id": "={{ $('创建多维表格1').item.json.data.app.default_table_id }}",
        "field_id": "={{ $json.data.items[3].field_id }}",
        "body": "{\n  \"field_name\": \"超链接\",\n  \"type\": 15,\n  \"ui_type\": \"Url\"\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        704,
        384
      ],
      "id": "0e2a9449-320e-436a-9b49-0a9845e852ae",
      "name": "更新字段1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "HSAKTl9I7CHTHe6z",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:field:add",
        "app_toke": "={{ $('创建多维表格1').item.json.data.app.app_token }}",
        "table_id": "={{ $('创建多维表格1').item.json.data.app.default_table_id }}",
        "body": "{\n  \"field_name\": \"地理位置\",\n  \"type\": 22\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        896,
        384
      ],
      "id": "3e133d72-383e-4cc4-96e0-863934757cac",
      "name": "新增字段1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "HSAKTl9I7CHTHe6z",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:record:add",
        "app_toke": "={{ $('创建多维表格1').item.json.data.app.app_token }}",
        "table_id": "={{ $('创建多维表格1').item.json.data.app.default_table_id }}",
        "body": "{\n  \"fields\": {\n    \"文本\": \"南哥AGI研习社\",\n    \"单选\": \"南哥\",\n    \"日期\": 1674206443000,\n    \"超链接\": {\n      \"text\": \"nangeai.top\",\n      \"link\": \"https://nangeai.top\"\n    },\n    \"地理位置\": \"116.397755,39.903179\"\n  }\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1072,
        384
      ],
      "id": "e6528d5c-15ea-4cea-8f82-d844a0fcd95a",
      "name": "新增记录到表格1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "HSAKTl9I7CHTHe6z",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 使用官方提供的HTTP节点实现飞书云文档服务的调用",
        "height": 272,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "9ed32f1b-ba49-466d-9472-f133991f2504",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 使用社区提供的飞书节点实现飞书云文档服务的调用",
        "height": 272,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        304
      ],
      "typeVersion": 1,
      "id": "5850a996-2cff-43e6-931e-7a517252d443",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 使用官方提供的HTTP节点实现飞书消息服务的调用",
        "height": 1344,
        "width": 1312,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        656
      ],
      "typeVersion": 1,
      "id": "36f21cf8-1158-4176-9571-2d3f30c37201",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "获取飞书Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取飞书Token": {
      "main": [
        [
          {
            "node": "向群组发送文本消息",
            "type": "main",
            "index": 0
          },
          {
            "node": "读取本地图片",
            "type": "main",
            "index": 0
          },
          {
            "node": "向群组发送群名片",
            "type": "main",
            "index": 0
          },
          {
            "node": "读取本地音频",
            "type": "main",
            "index": 0
          },
          {
            "node": "读取本地视频",
            "type": "main",
            "index": 0
          },
          {
            "node": "读取本地文件",
            "type": "main",
            "index": 0
          },
          {
            "node": "创建文件夹",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传图片到飞书": {
      "main": [
        [
          {
            "node": "向群组发送图片",
            "type": "main",
            "index": 0
          },
          {
            "node": "向群组发送富文本",
            "type": "main",
            "index": 0
          },
          {
            "node": "向群组发送消息卡片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传音频到飞书": {
      "main": [
        [
          {
            "node": "向群组发送语音",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地图片": {
      "main": [
        [
          {
            "node": "上传图片到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地音频": {
      "main": [
        [
          {
            "node": "上传音频到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地视频": {
      "main": [
        [
          {
            "node": "上传视频到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传视频到飞书": {
      "main": [
        [
          {
            "node": "读取本地视频封面图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传视频封面图片到飞书": {
      "main": [
        [
          {
            "node": "向群组发送视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地视频封面图片": {
      "main": [
        [
          {
            "node": "上传视频封面图片到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地文件": {
      "main": [
        [
          {
            "node": "上传文件到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传文件到飞书": {
      "main": [
        [
          {
            "node": "向群组发送文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "创建多维表格": {
      "main": [
        [
          {
            "node": "列出数据表字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "创建文件夹": {
      "main": [
        [
          {
            "node": "创建多维表格1",
            "type": "main",
            "index": 0
          },
          {
            "node": "创建多维表格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "列出数据表字段": {
      "main": [
        [
          {
            "node": "更新字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新字段": {
      "main": [
        [
          {
            "node": "新增字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新增字段": {
      "main": [
        [
          {
            "node": "新增记录到表格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "创建多维表格1": {
      "main": [
        [
          {
            "node": "列出数据表字段1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "列出数据表字段1": {
      "main": [
        [
          {
            "node": "更新字段1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新字段1": {
      "main": [
        [
          {
            "node": "新增字段1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新增字段1": {
      "main": [
        [
          {
            "node": "新增记录到表格1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c6108c0-8aa1-4031-8b17-96f96c405da8",
  "meta": {
    "instanceId": "830bfffc51ff88cd51b86a768f6a50a5b290896243e17b0bdf0f08551c38ba51"
  },
  "id": "Hle8W4LeLuraskKZ",
  "tags": [
    {
      "updatedAt": "2025-10-30T12:47:20.269Z",
      "createdAt": "2025-10-30T12:47:20.269Z",
      "id": "f21vDmcMsvedJbTO",
      "name": "飞书"
    }
  ]
}