03_n8n配置公众号内容创作运营自动化工作流/公众号内容创作运营自动化工作流.json
{
  "name": "公众号内容创作运营自动化工作流",
  "nodes": [
    {
      "parameters": {
        "formTitle": "主题配置",
        "formDescription": "用于配置公众号的创作内容，包含主题",
        "formFields": {
          "values": [
            {
              "fieldLabel": "主题",
              "placeholder": "巴菲特的投资哲学"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -624,
        -816
      ],
      "id": "ce9afba2-0dfc-4fa7-bc6e-6cb715e79edf",
      "name": "填写表单触发",
      "webhookId": "f8c0a115-3775-481f-908b-0ee711fb0dae"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -400,
        -608
      ],
      "id": "319f6c66-bd2b-4b1e-89d9-76d655cdc564",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KcHzWF39O8ZtiGQr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"title\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -256,
        -608
      ],
      "id": "ff5847f3-e362-4360-a23c-88b71be3b9ca",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"content\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n     \"prompt\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        96,
        -608
      ],
      "id": "c660c1ba-17f6-48b5-90fd-3f1913f80be0",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        -608
      ],
      "id": "1a3ec475-8e53-41dd-a66a-913ec934e294",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "KcHzWF39O8ZtiGQr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一位资深的社交媒体内容专家，尤其擅长撰写引人注目的微信公众号标题。请根据我提供的核心主题“{{ $json['主题'] }}”，为我生成1个爆款文章标题。\n    要求：    \n    1. 标题要有吸引力，能够激发读者的好奇心。    \n    2. 风格可以多样，例如疑问式、痛点式、利益式等。    \n    3. 以无序列表（Markdown格式）返回。",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -384,
        -816
      ],
      "id": "95fd883e-f389-4577-933f-caf96a333036",
      "name": "写公众号文章标题"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一位专业的作家，请根据我提供的文章标题，撰写一篇大约800字的微信公众号文章，并且为这篇文章生成封面图提示词。    \n    要求：  \n    1. 结构清晰，包含引言、主体（可以分点论述）、和结论。    \n    2. 语言流畅，通俗易懂，适合大众阅读。    \n    3. 正文使用 HTML 格式进行排版。  \n\n文章标题是：{{ $json.output.title }}\n\nyour output must be json。there is the sample:{\"content\":\"这里是正文\",\" prompt\":\"这里是生图提示词\"}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -64,
        -816
      ],
      "id": "c3ccb7cb-0f12-45b3-9539-284e68960da3",
      "name": "写公众号文章正文"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ark.cn-beijing.volces.com/api/v3/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e7a34e62-b23d-49b4-a5d9-c1e83804eca6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={    \n  \"model\": \"doubao-seedream-3-0-t2i-250415\",   \n  \"prompt\": \"{{ $('写公众号文章正文').item.json.output.prompt }}\",     \n  \"response_format\": \"b64_json\",    \n  \"seed\": 12,    \n  \"guidance_scale\": 2.5,    \n  \"watermark\": false\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        -976
      ],
      "id": "b4dfed13-3217-409a-9537-d8f15a61492a",
      "name": "文生图"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ark.cn-beijing.volces.com/api/v3/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e7a34e62-b23d-49b4-a5d9-c1e83804eca6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={    \n  \"model\": \"doubao-seedream-3-0-t2i-250415\",   \n  \"prompt\": \"{{ $json.output.prompt }}\",     \n  \"response_format\": \"b64_json\",    \n  \"seed\": 12,    \n  \"guidance_scale\": 2.5,    \n  \"watermark\": false\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        -576
      ],
      "id": "2f312fa1-2849-48f6-98b0-edf8ebf4ca6e",
      "name": "文生图1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        720,
        -576
      ],
      "id": "64d15616-eb7c-4fdd-80a1-58dd9338e3af",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        816,
        -976
      ],
      "id": "f1521bf1-751b-4980-ae0b-a1b42bebd0d1",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "078cbf50-a67a-42d2-93c0-26661c7d32f6",
              "name": "media_id",
              "value": "={{ JSON.parse($json.data).media_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -976
      ],
      "id": "581a79bb-c6a9-4c4d-b99e-9da658f594f8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "media:uploadOther"
      },
      "type": "n8n-nodes-wechat-offiaccount.wechatOfficialAccountNode",
      "typeVersion": 1,
      "position": [
        1088,
        -576
      ],
      "id": "348286ef-dcac-4f36-af86-f6ca56f42e21",
      "name": "社区节点上传图片素材",
      "credentials": {
        "wechatOfficialAccountCredentialsApi": {
          "id": "dVw1BUWWBymLivOW",
          "name": "Wechat Official Account Credentials account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.weixin.qq.com/cgi-bin/material/add_material?access_token={{ $('获取公众号后台访问token').item.json.access_token }}&type=image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        -976
      ],
      "id": "6cca31bf-4975-40d6-b0e7-c0bea3db32da",
      "name": "调用接口上传图片素材"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.weixin.qq.com/cgi-bin/stable_token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"grant_type\": \"client_credential\",\n    \"appid\": \"填写自己的\",\n    \"secret\": \"填写自己的\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        -976
      ],
      "id": "b604373f-dd6d-4a83-b480-25ba3c772810",
      "name": "获取公众号后台访问token"
    },
    {
      "parameters": {
        "content": "## AI Agent节点实现公众号文章的生成\n**生成文章标题**\n**生成文章正文**\n**生成文生图的prompt**",
        "height": 496,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -960
      ],
      "typeVersion": 1,
      "id": "37eb21e3-093a-42c9-9180-2396139d3704",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 使用微信公众号服务端 API 接口方式调用\n**使用HTTP节点**",
        "height": 352,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        -1104
      ],
      "typeVersion": 1,
      "id": "dac982cf-1a94-45c0-8ebd-b46955a2ec69",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 使用n8n社区提供的微信公众号节点方式调用\n**使用社区节点**",
        "height": 384,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        -704
      ],
      "typeVersion": 1,
      "id": "ea5230c7-66f0-4977-8b30-f5a2a2fcad0c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "draft:add",
        "articles": "=[\n    {\n        \"article_type\":\"newspic\",\n        \"title\":{{ $('写公众号文章标题').item.json.output.title.toJsonString() }},\n        \"author\":\"南哥AGI研习社\",\n        \"digest\":\"图文消息的摘要，仅有单图文消息才有摘要\",\n        \"content\":{{ $('写公众号文章正文').item.json.output.content.toJsonString() }},\n        \"content_source_url\":\"https://nangeai.top\",\n        \"image_info\":{\n            \"image_list\":[\n                {\n                    \"image_media_id\":{{ $json.media_id.toJsonString() }}\n                }\n            ]\n        },\n        \"need_open_comment\":0,\n        \"only_fans_can_comment\":0\n    }\n]"
      },
      "type": "n8n-nodes-wechat-offiaccount.wechatOfficialAccountNode",
      "typeVersion": 1,
      "position": [
        1440,
        -480
      ],
      "id": "155c072f-d5d5-4e6e-b76e-a080d1874276",
      "name": "社区节点上传图片草稿",
      "credentials": {
        "wechatOfficialAccountCredentialsApi": {
          "id": "dVw1BUWWBymLivOW",
          "name": "Wechat Official Account Credentials account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "draft:add",
        "articles": "=[\n    {\n        \"article_type\":\"news\",\n        \"title\":{{ $('写公众号文章标题').item.json.output.title.toJsonString() }},\n        \"author\":\"南哥AGI研习社\",\n        \"digest\":\"图文消息的摘要，仅有单图文消息才有摘要\",\n        \"content\":{{ $('写公众号文章正文').item.json.output.content.toJsonString() }},\n        \"content_source_url\":\"https://nangeai.top\",\n        \"thumb_media_id\":{{ $json.media_id.toJsonString() }},\n        \"need_open_comment\":0,\n        \"only_fans_can_comment\":0\n    }\n] "
      },
      "type": "n8n-nodes-wechat-offiaccount.wechatOfficialAccountNode",
      "typeVersion": 1,
      "position": [
        1440,
        -672
      ],
      "id": "dd4b5352-ca3a-4599-88a6-bb131385ca06",
      "name": "社区节点上传图文草稿",
      "credentials": {
        "wechatOfficialAccountCredentialsApi": {
          "id": "dVw1BUWWBymLivOW",
          "name": "Wechat Official Account Credentials account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.weixin.qq.com/cgi-bin/draft/add?access_token={{ $('获取公众号后台访问token').item.json.access_token }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"articles\": [\n        {\n            \"article_type\":\"news\",\n            \"title\":{{ $('写公众号文章标题').item.json.output.title.toJsonString() }},\n            \"author\":\"南哥AGI研习社\",\n            \"digest\":\"图文消息的摘要，仅有单图文消息才有摘要\",\n            \"content\":{{ $('写公众号文章正文').item.json.output.content.toJsonString() }},\n            \"content_source_url\":\"https://nangeai.top\",\n            \"thumb_media_id\":{{ $json.media_id.toJsonString() }},\n            \"need_open_comment\":0,\n            \"only_fans_can_comment\":0\n        }\n    ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        -1072
      ],
      "id": "caf48135-0ddb-489f-9424-1a3614264103",
      "name": "调用接口上传图文草稿"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.weixin.qq.com/cgi-bin/draft/add?access_token={{ $('获取公众号后台访问token').item.json.access_token }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"articles\": [\n        {\n            \"article_type\":\"newspic\",\n            \"title\":{{ $('写公众号文章标题').item.json.output.title.toJsonString() }},\n            \"author\":\"南哥AGI研习社\",\n            \"digest\":\"图文消息的摘要，仅有单图文消息才有摘要\",\n            \"content\":{{ $('写公众号文章正文').item.json.output.content.toJsonString() }},\n            \"content_source_url\":\"https://nangeai.top\",\n            \"image_info\":{\n                \"image_list\":[\n                    {\n                        \"image_media_id\":{{ $json.media_id.toJsonString() }}\n                    }\n                ]\n            },\n            \"need_open_comment\":0,\n            \"only_fans_can_comment\":0\n        }\n    ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        -896
      ],
      "id": "00ec8f78-72e5-4e2a-8850-93699381dee2",
      "name": "调用接口上传图片草稿"
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "draft:get",
        "media_id": "={{ $json.media_id }}"
      },
      "type": "n8n-nodes-wechat-offiaccount.wechatOfficialAccountNode",
      "typeVersion": 1,
      "position": [
        1680,
        -672
      ],
      "id": "913aa545-c02e-4dae-850f-1860e0a0cfd2",
      "name": "社区节点获取图文草稿详情",
      "credentials": {
        "wechatOfficialAccountCredentialsApi": {
          "id": "dVw1BUWWBymLivOW",
          "name": "Wechat Official Account Credentials account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "draft:get",
        "media_id": "={{ $json.media_id }}"
      },
      "type": "n8n-nodes-wechat-offiaccount.wechatOfficialAccountNode",
      "typeVersion": 1,
      "position": [
        1680,
        -480
      ],
      "id": "0a8df571-ecfe-415e-9254-7a4dc35b56da",
      "name": "社区节点获取图片草稿详情",
      "credentials": {
        "wechatOfficialAccountCredentialsApi": {
          "id": "dVw1BUWWBymLivOW",
          "name": "Wechat Official Account Credentials account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.weixin.qq.com/cgi-bin/draft/get?access_token={{ $('获取公众号后台访问token').item.json.access_token }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_id\": {{ JSON.parse($json.data).media_id.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1680,
        -1072
      ],
      "id": "91781c6c-5551-4072-bc65-d2e90456ae07",
      "name": "调用接口获取图文草稿详情"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.weixin.qq.com/cgi-bin/draft/get?access_token={{ $('获取公众号后台访问token').item.json.access_token }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_id\": {{ JSON.parse($json.data).media_id.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1680,
        -896
      ],
      "id": "efdb437b-31b6-4337-b24e-b6cc9a1c3081",
      "name": "调用接口获取图片草稿详情"
    }
  ],
  "pinData": {},
  "connections": {
    "填写表单触发": {
      "main": [
        [
          {
            "node": "写公众号文章标题",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "写公众号文章标题",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "写公众号文章标题",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "写公众号文章正文",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "写公众号文章正文",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "写公众号文章标题": {
      "main": [
        [
          {
            "node": "写公众号文章正文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写公众号文章正文": {
      "main": [
        [
          {
            "node": "文生图1",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取公众号后台访问token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "文生图": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "文生图1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "社区节点上传图片素材",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "调用接口上传图片素材",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "调用接口上传图片草稿",
            "type": "main",
            "index": 0
          },
          {
            "node": "调用接口上传图文草稿",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "社区节点上传图片素材": {
      "main": [
        [
          {
            "node": "社区节点上传图文草稿",
            "type": "main",
            "index": 0
          },
          {
            "node": "社区节点上传图片草稿",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用接口上传图片素材": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取公众号后台访问token": {
      "main": [
        [
          {
            "node": "文生图",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "社区节点上传图文草稿": {
      "main": [
        [
          {
            "node": "社区节点获取图文草稿详情",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用接口上传图片草稿": {
      "main": [
        [
          {
            "node": "调用接口获取图片草稿详情",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "社区节点上传图片草稿": {
      "main": [
        [
          {
            "node": "社区节点获取图片草稿详情",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用接口上传图文草稿": {
      "main": [
        [
          {
            "node": "调用接口获取图文草稿详情",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b90f31a5-f955-452c-90e1-9013cba222c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "830bfffc51ff88cd51b86a768f6a50a5b290896243e17b0bdf0f08551c38ba51"
  },
  "id": "GlkGNVYvNWw6wD7L",
  "tags": [
    {
      "updatedAt": "2025-10-30T12:47:07.824Z",
      "createdAt": "2025-10-30T12:47:07.824Z",
      "id": "v4AgHa1VDiat8yLA",
      "name": "AI"
    }
  ]
}